.text-center {
    text-align: center;
}

.font-semibold {
    font-weight: 600;
}

.text-gray-600 {
    font-weight: 600;
    color: #718096;
}

.font-medium {
    font-weight: 500;
    color: #000;
}

.text-xl {
    font-size: 2em;
}

.italic {
    font-style: italic;
}