
.home {
    background-color: #242424;
}

.logo-container {
    @media screen and (min-width: 768px) {
        width: 650px;
        height: 408px;
        margin: 8px;
    }

    @media screen and (min-width: 890px) {
        width: 848px;
        height: 464px;
        margin: 8px;
    }
}

.shFont {
    
    font-family: 'Baloo', sans-serif;
}