
.home {
    background-color: #242424;
}

.logo-container {

    @media screen and (min-width: 576px) {
        width: 566px;
        margin: 8px;

        .logo {
            width: 550px;
            height: 270px;
        }
    }

    @media screen and (min-width: 768px) {
        width: 650px;
        height: 408px;
        margin: 8px;

        .logo {
            width: 634px;
            height: 325px;
        }        
    }

    @media screen and (min-width: 890px) {
        width: 848px;
        height: 464px;
        margin: 8px;
    }
}

.shFont {
    
    font-family: 'Baloo', sans-serif;
}

.linkHeading {
    font-family: 'Permanent Marker', sans-serif;
    padding-top: 15px;
    font-size: 22px;
    font-weight: 600;
    color: #F6F1DD;
}

.linkBoost {
    font-size: 18px;
}